<footer class="footer mt-0 py-3">
  <hr class="mt-0 mb-2">
  <div class="container d-flex justify-content-between">
    <span class="text-muted">© 2020 GeoDengue, Inc. All rights reserved </span>
  </div>
</footer>