<div class="container-fluid mb-4">
  <h1 style="text-align: center">O que você deseja?</h1>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-12 col-sm-4 ilustration">
  </div>
</div>
<div class="row justify-content-center mt-4">
  <div class="col col-12 col-sm-4">
  <%= link_to 'Registar visita', new_place_path, class: 'btn btn-primary rounded-pill', type: "button"  %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col col-12 col-sm-4">

  <%= link_to 'Visualizar minha área', places_path, class: 'btn btn-outline-primary rounded-pill mb-0', type: "button" %>

  </div>
</div>



