// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "ilustration";
@import "footer";
@import "map";
@import "wizard";
@import "toggle_button";
@import "state_button";
@import "buttons";
