.wizard {
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
}

.wizard-steps {

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step.active {
    opacity: 1;
    background-color: #007bff;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #007bff;
  }
}


