// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";

// Global styles
html,
body {
    height: 100%;
}

body > main {
    height: calc(100% - 66px); // full-height minus navbar
    padding-bottom: 48px; // to ignore "footer" space
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

.pt-4, .py-4 {
  padding-top: 0.5rem !important;
}